<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
	<typeAliases>	
		<typeAlias type = "java.util.List" alias="List"/>
		<typeAlias type = "java.lang.Long" alias="Long"/>
		<typeAlias type = "java.lang.Integer" alias="Integer"/>
		<typeAlias type="com.sj.boot3.member.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.sj.boot3.member.MemberFilesVO" alias="MemberFilesVO"/>
		<typeAlias type="com.sj.boot3.product.ProductVO" alias="ProductVO"/>
		<typeAlias type="com.sj.boot3.product.ProductFilesVO" alias="ProductFilesVO"/>
		<typeAlias type="com.sj.boot3.board.BoardVO" alias="BoardVO"/>
		<typeAlias type="com.sj.boot3.board.BoardFilesVO" alias="BoardFilesVO"/>
		<typeAlias type="com.sj.boot3.util.Pager" alias="Pager"/>
	</typeAliases>
</configuration>