<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
    <mapper namespace="com.sj.boot3.board.BoardMapper">
		<select id="totalPage" resultType="Integer" parameterType="Pager">
			SELECT COUNT(NUM) FROM BOARD WHERE NUM>0 and 
    		<choose>
			<when test="kind==1">title </when>
			<when test="kind==3">writer </when>
			<otherwise>contents</otherwise>
			</choose>
    		like concat('%',#{search},'%')  
		</select>

    	<select id="getDetail" parameterType="BoardVO" resultMap="getDetailResult">
    		SELECT B.*,F.*
			FROM BOARD B
			LEFT JOIN
			BOARDFILES F 
			USING(NUM)
			WHERE NUM= #{num}
    	</select>
    	<resultMap type="BoardVO" id="getDetailResult">
    		<id column="num" property="num"/>
    		<result column="title" property="title"/>
    		<result column="writer" property="writer"/>
    		<result column="contents" property="contents"/>
    		<result column="hit" property="hit"/>
    		<result column="regDate" property="regDate"/>
    		<result column="ref" property="ref"/>
    		<result column="step" property="step"/>
    		<result column="depth" property="depth"/>
    		<result column="category" property="category"/>
    		<collection property="filesVOs" javaType="List" ofType="BoardFilesVO">
    			<id column="fileNum" property="fileNum"/>
    			<result column="fileName" property="fileName"/>
    			<result column="oriName" property="oriName"/>
    		</collection>
    	</resultMap>
    	
    	<select id="getList" parameterType="Pager" resultType="BoardVO">

    		SELECT * FROM BOARD WHERE NUM>0 and 
    		<choose>
			<when test="kind==1">title </when>
			<when test="kind==3">writer </when>
			<otherwise>contents</otherwise>
			</choose>
    		
    		
    		like concat('%',#{search},'%') ORDER BY NUM DESC LIMIT #{startRow},#{perPage} 
    	
    		
    	</select>
    	
    	<insert id="setAdd" parameterType="BoardVO" useGeneratedKeys="true" keyProperty="num">
    		INSERT INTO BOARD(NUM,TITLE,WRITER,CONTENTS,HIT,REGDATE,`REF`,STEP,`DEPTH`,CATEGORY)
			VALUES (#{num},#{title},#{writer},#{contents},0,now(),0,0,0,1);
    	</insert>
    	
    	<update id="setUpdate" parameterType="BoardVO">
    		UPDATE BOARD SET TITLE = #{title} , CONTENTS = #{contents} WHERE NUM =#{num}
    	</update>
    	
    	<delete id="setDelete" parameterType="BoardVO">
    		DELETE FROM BOARD  WHERE NUM=#{num}
    	</delete>
    	
    	
    </mapper>
